@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-days {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 4px;
}

.big-radio {
    /*position: relative;*/

    /*&:has(input[type=radio]:checked) {*/
    /*    background: red;*/
    /*}*/
    input[type=radio] {
        all: unset;
        appearance: none;
        height: 100%;
        width: 100%;
        pointer-events: none;

        &:checked + * {
            /*background: red;*/
        }
    }
}
